################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AllProbe ToDo list.docx
/~$lProbe ToDo list.docx
/~$amarin.docx
/Xamarin.docx
/~WRL1007.tmp
/~WRL0003.tmp
